<div class="page-content full about-page">

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/travis-and-lindsey-hoki.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="text">
				<p>In my spare time I like to skateboard and breakdance.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/wedding.png">
		</div>
			<div class="col-xs-12 col-sm-6">
			<div class="text">
				<p>Earlier this summer I got married to my best friend and high school sweet heart Lindsey Turner. We’ve had many adventures together in the last 7 years.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/guitar.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="text">
				<p>I like to play the guitar. There's nothing more calming then playing.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/rocko.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="text">
				<p>Rocko is my pug dog. He is pretty awesome. Always happy and smiling.</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/skateboarding.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<div class="text">
				<p>Skating is a big stress reliever for me. I always have my board in the trunk of my car and use it whenever possible.</p>
			</div>
		</div>
	</div>

</div><!-- about-page -->
