<div class="page-content full about-page">

    <ul class="images">
        <li>
            <div class="image-content">
                <h3>Wedding</h3>
                <p>I married my high school sweet heart in June of 2015</p>
            </div>
            <img src="portfolio/imgs/about/wedding.jpg">
        </li>
        <li>
            <div class="image-content">
                <h3>Guitar</h3>
                <p>I love playing the guitar</p>
            </div>
            <img src="portfolio/imgs/about/guitar.jpg">
        </li>
        <li>
            <div class="image-content">
                <h3>Rocko</h3>
                <p>My pug dog is one of my best friends</p>
            </div>
            <img src="portfolio/imgs/about/rocko.jpg">
        </li>
        <li>
            <div class="image-content">
                <h3>Ballroom</h3>
                <p>Dancing with my girlfriend (future wife)</p>
            </div>
            <img src="portfolio/imgs/about/ballroom.jpg">
        </li>
        <li>
            <div class="image-content">
                <h3>Breakdance</h3>
                <p>Breakdancing at the Hope of America</p>
            </div>
            <img src="portfolio/imgs/about/breakdance.jpg">
        </li>
    </ul>   

</div><!-- about-page -->
