<div class="page-content full about-page">

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/travis-and-lindsey-hoki.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<p>In my spare time I like to skateboard and breakdance.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/wedding.png">
		</div>
		<div class="col-xs-12 col-sm-6">
			<p>Earlier this summer I got married to my best friend and high school sweet heart Lindsey Turner. We’ve had many adventures together in the last 7 years.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
		</div>
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/guitar.png">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
		</div>
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/rocko.png">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
	    	<img src="portfolio/imgs/about/skateboarding.png">
		</div>
		<div class="col-xs-12 col-sm-6">
		</div>
	</div>

</div><!-- about-page -->
