<div class="flash-gallery page-content flash-page">

	<h1>Flash Work</h1>

	<div class="section">
		<h2>Banner Ads</h2>
		
		<p>I animated each of these banners in AS3.</p>
		
        <div class="row">
            <ul class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 flashBannerThumbs">
                <li class="col-md-3 col-sm-3 col-xs-6">
                    <img src="portfolio/imgs/flash-banners/blendtec_thumb.jpg" ng-click="openFlashBanner('blendtec','970','250')" title="Blend Tec"/>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-6">
                    <img src="portfolio/imgs/flash-banners/lexus_thumb.jpg" ng-click="openFlashBanner('lexus','160','600')" title="Lexus of Lindon"/>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-6">
                    <img src="portfolio/imgs/flash-banners/monavie_thumb.jpg" ng-click="openFlashBanner('monavie','300','250')" title="Monavie"/>
                </li>
                <li class="col-md-3 col-sm-3 col-xs-6">
                    <img src="portfolio/imgs/flash-banners/questBar_thumb.jpg" ng-click="openFlashBanner('questproteinbar','300','250')" title="Quest Bar"/>
                </li>
            </ul>
		</div><!-- row -->
		<p class="caption">(Click the icons to view the flash banners)</p>
			
		<div class="flashHolder"></div>
	</div><!-- section -->

	<div class="section">
		<h2>eLearning Courses</h2>
		<p>I helped to code 24 eLearning courses in ActionScript 3 at Enspark.</p>
		
		<carousel interval="myInterval" no-wrap="noWrapSlides">
		  <slide ng-repeat="slide in ensparCourses" active="slide.active">
		    <img ng-src="{{'portfolio/imgs/enspark-courses/'+slide.link+'.png'}}">
		  </slide>
		</carousel>

		<a href="http://enspark.com/" class="btn" target="_blank">Go To Website</a>
	</div><!-- section -->

</div><!--flash-page-->
