<div class="page-content full home-page">

    <div class="banner">
        <div class="banner-inner">
            <div class="overlay"></div>
            <img src="portfolio/imgs/home/travis-hoki.jpg">

            <div class="banner-content">
                <h1>Travis Hoki</h1>
                <h2>Web Developer</h2>
                <div class="centered-list">
                    <ul class="social-icons">
                        <li>
                            <a href="https://github.com/travishoki/" target="_blank" title="Travis's Github" popover="Github" popover-trigger="mouseenter">
                                <i class="fa fa-git"></i>
                            </a>
                        </li>    
                        <li>
                            <a href="https://www.linkedin.com/in/travishoki" target="_blank" title="Travis's Linked In" popover="Linkedin" popover-trigger="mouseenter">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>    
                        <li>
                            <a href="http://codepen.io/travis-hoki/" target="_blank" title="Travis's Codepen" popover="CodePen" popover-trigger="mouseenter">
                                <i class="fa fa-codepen"></i>
                            </a>
                        </li>    
                    </ul>
                    <div class="clearFix"></div>
                </div>
        
                <a class="btn" ng-click="setRoute('contact')">Contact Me</a>

                <a class="btn" ng-click="scrollTo('tech')">View More</a>
            </div><!-- banner-content -->

        </div><!-- banner-inner -->
    </div><!-- banner -->

    <section class="white tech" id="tech">
        <div class="section-inner">        
            <div class="centered-list">
                <ul class="techs filters">
                    <li ng-repeat="icon in iconArray" ng-class="icon" title="{{icon}}" popover="{{icon}}" popover-trigger="mouseenter"></li>
                </ul>
                <div class="clearFix"></div>
            </div>

        </div>
    </section><!-- skills -->

    <section class="grey portfolio">
        <div class="section-inner">        
            <div class="row">
                <div class="col-xs-4" ng-click="setRoute('portfolio')">
                    <h2>Websites</h2>                    
                    <img src="portfolio/imgs/home/website.jpg">
                    <button class="btn">VIEW</button>
                </div>                
                <div class="col-xs-4" ng-click="setRoute('apps')">
                    <h2>Apps</h2>                    
                    <img src="portfolio/imgs/home/app.jpg">
                    <button class="btn">VIEW</button>
                </div>                
                <div class="col-xs-4" ng-click="setRoute('flash')">
                    <h2>Flash</h2>                    
                    <img src="portfolio/imgs/home/flash.jpg">
                    <button class="btn">VIEW</button>
                </div>                
            </div>
        </div>
    </section><!-- skills -->

    <section class="green skills">
        <div class="section-inner">        
            <h2>5+ Years Experience</h2>
            <div class="list">
                <ul>
                    <li>Preprocessed CSS (Less and SCSS)</li>
                    <li>Responsive CSS with Media Queries</li>
                    <li>JavaScript and CoffeeScript</li>
                    <li>JavaScript Framework in Angular</li>
                    <li>Stripe and Authorize.net Integration</li>
                </ul>
            </div>
            <div class="list">
                <ul>
                    <li>Content Management Systems</li>
                    <li>Custom Wordpress Themes</li>
                    <li>SQL and restful API integration</li>
                </ul>
            </div>
        </div>
    </section><!-- skills -->

    <section class="white education">
        <div class="section-inner">        
            <h2>Utah Valley University</h2>
            <img src="portfolio/imgs/home/uvu.png">
            <h3>Digital Media Major</h3>
            <h3 class="degree">Bachelor of Science</h3>
            <h3>Internet Technology Emphasis</h3>
        </div>
    </section><!-- education -->

</div><!-- home-page -->



