<div class="banner">
    <div class="banner-inner">
        <div class="overlay"></div>
        <img src="portfolio/imgs/home/travis-hoki-2.jpg">
    </div><!-- banner-inner -->
</div><!-- banner -->

<!--
<div class="subnav">
    <div class="centered-list">
        <div class="centered-list-inner">
            <ul>
                <li>
                    <button ng-click="setRoute('portfolio')" class="btn btn-green portfolio">Websites</button>
                </li>
                <li>
                    <button ng-click="setRoute('flash')" class="btn btn-green flash">Flash Work</button>
                </li>
                <li>
                    <button ng-click="setRoute('apps')" class="btn btn-green apps">Mobile Apps</button>
                </li>
            </ul>
        </div><!-- centered-list-inner ->
    </div><!-- centered-list ->
</div><!-- subnav -->

<section class="white education">
    <div class="section-inner">        
        <h2>Utah Valley University</h2>
        <img src="portfolio/imgs/home/uvu.png">
        <h3>Bachelor of Science<br>Digital Media<br>Emphasis in Internet Technology</h2>
    </div>
</section><!-- education -->

<section class="grey resume">
    <div class="section-inner">        
        <h2>Resume</h2>
        <div class="resume-section resume-1">
            <h3>Boring <span>but professional</span></h3>
            <img src="portfolio/imgs/home/resume.jpg">
            <a href="portfolio/pdfs/travis-hoki-resume.pdf" target="_blank" title="Travis Hoki's Resume">
                <i class="fa fa-download"></i> Download
            </a>
        </div>
        <div class="resume-section resume-2">
            <h3>Stylish <span>and more awesome</span></h3>
            <img src="portfolio/imgs/home/creative-resume.jpg">
            <a href="portfolio/pdfs/travis-hoki-creative-resume.pdf" target="_blank" title="Travis Hoki's Creative Resume">
                <i class="fa fa-download"></i> Download
            </a>
        </div>
    </div>
</section><!-- resume -->

<section class="green skills">
    <div class="section-inner">        
        <h2>Green Section</h2>
    </div>
</section><!-- skills -->

<section class="white">
    <div class="section-inner">        
        <h2>WHITE SECTION</h2>
    </div>
</section><!-- skills -->



