<div class="row info-holder">

	<div class="client-branding">
		<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 client-branding-inner">
			<div class="client-branding-title-holder">
				<h2>{{site.title}}</h2>				
			</div>
			<img ng-src="portfolio/imgs/clients/{{site.img}}.jpg" title="{{site.title}}" class="website-logo"/>
		</div>
	</div>

	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<img ng-src="portfolio/imgs/websites/{{site.img}}.jpg" width="200" height="300" title="{{site.title}}" class="website-img"/>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 info">

		<div class="client-info">
			<div class="p-holder">
				<h3 ng-if="site.subtitle">{{site.subtitle}}</h3>				
				<p>{{site.desc}}</p>
			</div>
		</div>

		<div class="project-info">
			<div class="row">
				<div class="col-xs-6">
					<h4>My Contribution:</h4>
					<ul>
						<li ng-repeat="contribution in site.contributions">{{contribution}}</li>
					</ul>
				</div>
				<div class="col-xs-6">
					<h4>Technology:</h4>
					<div class="centered-list">
						<ul class="techs">
							<li ng-repeat="tech in site.techs" ng-class="tech" class="lite"></li>
						</ul>
					</div>
				</div>
			</div>
			<a href="{{site.url}}" class="btn" target="_blank" ng-if="site.live">View</a>
		</div>

	</div>	
</div>

