<div class="page-content portfolio-page">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="site-filters">
			<h2>Filters</h2>
			<div class="centered-list">
				<ul class="techs">
					<li ng-repeat="tech in site_filters" 
					ng-class="filterStyle(tech)" 
					class="filters" 
					title="{{tech.title}}" 
					ng-click="clickFilter(tech)"></li>
				</ul>
			</div>
		</div>	
	</div>

	<ul class="site-gallery">
		<li ng-repeat="site in sites | techFilter : site_filters" 
		class="col-xs-6 col-sm-4 col-md-3"
		ng-click="site.full || openModal($event, $index, site)" 
		ng-class="{full: site.full, item: !site.full, active: site.active}"
		>
			<!-- Items -->
			<site-item site="site" ng-if="!site.full"></site-item>

			<!-- List -->
			<site-info site="site" ng-if="site.full" ></site-info>

		</li>
	</ul><!-- site-gallery -->
	
</div><!--portfolio-page-->
