<div class="page-content resume-page">

    <div class="resume-header">
        <img src="portfolio/imgs/resume/resume.jpg">
        <a href="portfolio/pdfs/travis-hoki-creative-resume.pdf" class="btn center" target="_blank" title="Travis Hoki's Creative Resume">
            <i class="fa fa-download"></i> Download
        </a>
    </div>

	<div class="resume-content">
        <h1>Experience</h1>
        <ul class="experience">
            <li>
                <img src="portfolio/imgs/experience/roomchoice.png" title="Roomchoice">
                <div class="experience-content">
                    <h2>Room Choice</h2>
                    <p>American Fork, UT</p>
                    <p>Dec 2014 &minus; Present</p>
                    <p>Full Stack Web-App Developer</p>
                    <ul>
                        <li>Python and Django</li>
                        <li>Angular, CoffeeScript, Classy</li>
                        <li>In house developement on student housing software</li>
                    </ul>
                </div>
            </li>
            <li>
                <img src="portfolio/imgs/experience/enspark.png" title="Enspark">
                <div class="experience-content">
                    <h2>Enspark</h2>
                    <p>Lehi, UT</p>
                    <p>Nov 2011 &minus; Dec 2014</p>
                    <p>Custom Developer</p>
                    <ul>
                        <li>PHP and JavaScript development</li>
                        <li>LMS reconstruction and user account tracking</li>
                        <li>Front-end development and WordPress maintenance</li>
                        <li>Custom banner and eLearning course development in Adobe Flash AS3</li>
                    </ul>
                </div>
            </li>
            <li>
                <img src="portfolio/imgs/experience/all-american-sod-farms.png" title="All American Sod Farms">
                <div class="experience-content">
                    <h2>All American Sod Farms</h2>
                    <p>Orem, UT</p>
                    <p>Jun 2011 &minus; Jun 2012</p>
                    <p>Office Manager / Web Master</p>
                    <ul>
                        <li>Creating and maintaining AllAmericanSod.com</li>
                        <li>Scheduling and dispatching deliveries</li>
                        <li>Bill collecting and register operation</li>
                        <li>Customer service and clerical work</li>
                    </ul>
                </div>
            </li>
            <li>
                <img src="portfolio/imgs/experience/wendys.png" title="Wendy's">
                <div class="experience-content">
                    <h2>Wendy's</h2>
                    <p>Orem, UT</p>
                    <p>Dec 2006 &minus; Jun 2011</p>
                    <p>Crew Member</p>
                    <ul>
                        <li>Register operation</li>
                        <li>Workstation sanitation and stocking</li>
                        <li>Train new employees in various positions</li>
                        <li>Maintain service and courtesy standards during stressful situations</li>
                    </ul>
                </div>
            </li>
        </ul>
    
    
    
        
        
        <h1>Education</h1>
        <ul>
            <li>
                <h2>Utah Valley University</h2>
                <p>Orem, UT</p>
                <p>Expected Apr 2014</p>
                <p>Bachelor of Science, Digital Media</p>
                <p>Emphasis in Internet Technology</p>
            </li>
            <li>
                <h2>Utah Valley University</h2>
                <p>Orem, UT</p>
                <p>Graduated Dec 2012</p>
                <p>Associate in Applied Science</p>
            </li>
        </ul>
    
        
        <h1>Skills &amp; Languages</h1>
        <ul>
            <li>
                <ul>
                    <li>PHP</li>
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>Angular JS</li>
                    <li>HTML 5</li>
                    <li>CSS 3</li>
                    <li>Actionscript 3</li>
                </ul>
            </li>
        </ul>
    

	</div><!-- resume-content -->
        
</div><!-- resume-page -->

							