<div class="page-content websites-page">

	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="site-filters">
			<h2>Web Portfolio</h2>
			<p>Click on the icons below to filter my work by different technologies</p>
			<div class="centered-list">
				<ul class="techs filters">
					<li ng-repeat="tech in site_filters" 
					class="{{tech.title}}"
					ng-class="filterStyle(tech)" 
					title="{{tech.title}}" 
					ng-click="clickFilter(tech)"
					popover="{{tech.title}}" 
					popover-trigger="mouseenter"
					></li>
				</ul>
				<div class="clearFix"></div>
			</div>
		</div>	
	</div>

	<ul class="site-gallery">
		<li ng-repeat="site in sites" 
		class="col-xs-6 col-sm-4 col-md-3"
		ng-click="site.full || openModal($event, $index, site)" 
		ng-class="{full: site.full, item: !site.full, active: site.active}"
		 >
			<!-- Items -->
			<site-item site="site" ng-if="!site.full"></site-item>

			<!-- List -->
			<site-info site="site" ng-if="site.full" ></site-info>

		</li>
	</ul><!-- site-gallery -->
	
</div><!--websites-page-->
