/*============================================================ About ============================================================*/
div.about-page{
	.row {
		margin: 30px auto;
		display: block;
		max-width: 600px;
		.text {
			@media #{$sm}{
				margin-bottom: 40px;
			}
			@media #{$sm}{
				margin-top: 40px;
			}
			@media #{$md}{
				margin-top: 60px;
			}
			p {
				text-indent: 20px;
			}
		}
		img {
			width: 100%;
			max-width: 300px;
			margin: 0 auto;
			display: block;
			@media #{$xs} {
				margin-bottom: 20px;
			}
		}
	}

}
