/*============================================================ About ============================================================*/
div.about-page{
	&.page-content {
		margin: 0;	
	}
	h2 {
		text-align: center;
	}
	ul.images {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			position: relative;
			color: white;
			h3 {
				font-weight: bold;
				@media #{$xs} {
					font-size: 30px;
				}
				@media #{$sm} {
					font-size: 50px;
				}
			}
			p {
				font-size: 20px;
			}
			&:nth-child(even) {
				.image-content {
					@media #{$xs} {
						left: 100px;
					}
					@media #{$sm} {
						right: 0;
					}
				}
			}
			&:nth-child(odd) {
				.image-content {
					left: 0;
				}
			}
			.image-content {
				position: absolute;
				@media #{$xs} {
					padding: 10px;
				}
				@media #{$sm} {
					padding: 30px;
				}
			}
		}
	}

}
