/*============================================================ Apps =========================================================*/
div.app-gallery{
	.section{
		padding:15px 0;
		margin-top:15px;
		border-top:solid 1px $secondaryColor;
		overflow:hidden;
	}
}
