/*============================================================ Contacts =========================================================*/
div.contact-page {
	padding: 0 15px;			
	img {
		margin-bottom: 20px;
	}
	p {
		i {
			background: #444;
			color: white;
		}
	}
	form {
		padding-top: 20px;
	}
}
