/*============================================================ Contacts =========================================================*/
div.contact-page {
	padding: 0 15px;			
	img {
		margin-bottom: 20px;
	}
	p {
		i {
			background: #444;
			color: white;
		}
	}
	.contact-info {
		form {
			padding-top: 20px;
		}	
	}
	.form-sending {
		margin: 60px 0; 
		h2 {
			margin: 10px 0;
		}
		img {
			display: block;
			margin: 0 auto;
		}
	}
}
