/*============================================================ Experience =========================================================*/
div.experience-holder{
	ul{
		list-style:none;
		
		li{
			div.crsHeading{
				padding:10px;
				border:solid 1px $secondaryColor;
			}
				
			div.crsDesc{
				margin:0 10px;
				padding:10px;
				border-left:solid 1px $secondaryColor;
				border-right:solid 1px $secondaryColor;
			}
		}
	}
}
