/*============================================================ Home ============================================================*/
.home-page {
	&.page-content {
		margin: 0;	
	}
	/*---------- Banner ----------*/
	.banner {
		position: relative;
		.overlay {
			background-color: rgba(0,0,0,0.1);
			position: absolute;
			width: 100%;
			height: 100%;
		}
		img {
			width: 100%;
		}
		.banner-content {
			position: absolute;
			@media #{$xs} {
				top: 20px;
				left: 10px;
			    width: 180px;
			}
			@media #{$sm} {
				top: 210px;
				left: 0;
			    width: 400px;
			}
			@media #{$md} {
				top: 250px;
			    width: 600px;
			}
			@media #{$lg} {
				top: 300px;
				left: 50px;
			}
		    h1 {
		    	text-align: center;
		    	font-weight: bold;
				@media #{$xs} {
					display: none;
				}
				@media #{$sm} {
					font-size: 60px;
				}
				@media #{$md} {
					font-size: 70px;
				}
		    }
		    h2 {
		    	color: $primaryColor;
				@media #{$xs} {
					font-size: 20px;
				}		    	
				@media #{$sm} {
			    	text-align: center;
			    }
		    }
		    .btn {
				@media #{$xs} {
					width: 100px;			    
					font-size: 12px;
					padding: 0;
					line-height: 30px;
					height: 30px;
					margin-top: 10px;
			    }
		    }
		}
	}	
	/*---------- Tech ----------*/
	section.tech {
		.section-inner {
			padding: 20px 0;
			ul {
				padding: 10px 0;
			}
		}
	}
	/*---------- Skills ----------*/
	section.portfolio {
		.section-inner {
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
	/*---------- Skills ----------*/
	section.skills {
		.section-inner {
			overflow: hidden;
			.list {
				font-size: 20px;
				@media #{$md} {
					float: left;
					width: 50%;
				}
				ul {
					margin: 0;
					li {
						padding-bottom: 20px;
					}
				}
			}
		}
	}
	/*---------- Education ----------*/
	section.education {
		text-align: center;
		img {
			display: block;
			margin: 20px auto;
		}
		h3.degree {
			font-weight: bold;
			margin: 10px 0;
		}
	}
}
