/*---------------------------------------------- Variables ----------------------------------------------*/
/* Variables
----------------------*/
/* Mixin
----------------------*/
/*---------------------------------------------- Imports ----------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Enriqueta);
.loaderHolder {
  position: relative; }
  .loaderHolder img {
    width: 100%; }
  .loaderHolder .loader {
    position: absolute;
    transition: 0.5s linear all;
    opacity: 1;
    width: 100%; }
  .loaderHolder .loader.ng-hide {
    opacity: 0; }

/*---- Centered List
----------------------*/
div.centered-list {
  overflow: hidden; }
  div.centered-list div.centered-list-inner {
    float: right;
    position: relative;
    left: -50%;
    text-align: left; }
    div.centered-list div.centered-list-inner ul {
      padding: 0;
      list-style: none;
      position: relative;
      left: 50%; }
      div.centered-list div.centered-list-inner ul li {
        float: left;
        position: relative;
        /* ie needs position:relative here*/
        margin: 0 5px; }

/*---------------------------------------------- ng-view Animate ----------------------------------------------*/
div#view {
  position: absolute;
  width: 100%;
  height: 100%; }

.ng-enter {
  -webkit-transition: .5s linear all;
  /* Chrome */
  transition: .5s linear all;
  opacity: 0; }

.ng-enter-active {
  opacity: 1; }

.ng-leave {
  opacity: 1; }

.ng-leave-active {
  opacity: 0; }

/*----------------------------------------------  Modal ----------------------------------------------*/
.modal-header {
  background: #39B54C;
  color: white; }
  .modal-header h2 {
    color: inherit;
    text-align: center; }

/*---------------------------------------------- Other ----------------------------------------------*/
.red {
  color: red; }

h1, h2, h3, h4, p {
  margin: 0; }

p {
  margin-bottom: 10px; }

p.caption {
  text-align: center;
  color: #ccc; }

body {
  background-color: #39B54C;
  width: 100%;
  min-width: 400px;
  margin: 0 auto;
  font-family: arial; }

.fleft {
  float: left; }

.phoneVisible {
  display: none; }

.tabletVisible {
  display: none; }

.desktopVisible {
  display: none; }

.btn-green {
  background: #39B54C;
  color: white; }
  .btn-green a, .btn-green a:visited {
    color: inherit;
    text-decoration: none !important; }

.btn-green:hover,
.btn-green.active {
  color: white;
  background: #1A733B; }

.center {
  text-align: center; }

h1 {
  margin-bottom: 10px; }

#header {
  overflow: hidden;
  color: white;
  max-width: 1024px;
  padding-top: 20px;
  margin: 0 auto;
  position: relative; }
  #header div.branding img {
    cursor: pointer; }

img.img-responsive {
  width: 100%; }

.banner-container {
  display: none; }

body.portfolio .banner-container,
body.flash .banner-container,
body.apps .banner-container {
  display: block; }

.mobileMenuBtn {
  float: right;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px; }

nav {
  font-family: "Enriqueta", serif;
  background: #1A733B;
  clear: both;
  padding: 10px; }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px; }
    nav ul li {
      margin-bottom: 10px; }
      nav ul li .btn {
        width: 100%; }
      nav ul li .btn.active {
        border: solid 1px black; }

button:hover,
input[type="submit"]:hover {
  background: #1A733B !important; }

button a {
  text-decoration: none;
  color: white; }

h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #1a733b;
  font-size: 24px;
  line-height: 25px; }

ul.viewNavigation {
  list-style: none;
  width: 100%;
  padding: 0; }
  ul.viewNavigation li {
    float: left;
    padding: 0 5px;
    width: 100/3%;
    background-color: grey;
    color: white;
    cursor: pointer; }
  ul.viewNavigation li.currentTab {
    background-color: #333; }

.content-holder {
  border-top: solid 2px #1A733B;
  border-bottom: solid 2px #1A733B;
  background-color: #FFFFFF;
  -webkit-box-shadow: inset 0px 0px 15px 0px #000;
  box-shadow: inset 0px 0px 15px 0px #000; }
  .content-holder .content {
    min-height: 400px;
    overflow: hidden;
    max-width: 1024px;
    margin: 0 auto;
    padding: 20px; }
    .content-holder .content img {
      max-width: 100%;
      height: auto; }

div.banner-holder {
  background-color: black;
  border-top: solid 2px #1a733b;
  height: 150px; }
  div.banner-holder div.banner {
    overflow: hidden;
    color: white;
    max-width: 1024px;
    margin: 0 auto;
    background: url("../imgs/bannerBackground.png");
    background-repeat: no-repeat; }
    div.banner-holder div.banner div.bannerText {
      float: right;
      padding-top: 10px;
      margin-right: 10px; }
      div.banner-holder div.banner div.bannerText h1 {
        font-size: 20px; }
      div.banner-holder div.banner div.bannerText p {
        font-size: 16px; }
    div.banner-holder div.banner img {
      margin-right: 10px;
      float: right;
      height: 150px;
      width: auto; }

.subnav {
  margin: 30px auto 50px auto; }

#footer {
  padding: 10px;
  overflow: hidden;
  clear: both;
  color: white;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto; }
  #footer p span {
    float: left; }
  #footer p.backToTop {
    float: right;
    cursor: pointer; }

/*============================================================ Responsive =========================================================*/
/* Small devices (@screen-sm-min) */
@media (min-width: 768px) {
  div.branding {
    float: left; }

  nav {
    display: block !important;
    position: absolute;
    right: 0;
    background: none; }
    nav ul li {
      margin-left: 5px;
      float: left; }
      nav ul li .btn.active {
        border: none; } }
/* Pages
---------------------------------*/
/*============================================================ Tech Icons ============================================================*/
ul.techs li {
  width: 32px;
  height: 32px; }
  ul.techs li.dark {
    background-image: url("../imgs/icons/tech-icons-dark.png"); }
  ul.techs li.lite {
    background-image: url("../imgs/icons/tech-icons-lite.png"); }
  ul.techs li.HTML {
    background-position: 0 0; }
  ul.techs li.JavaScript {
    background-position: -32px 0; }
  ul.techs li.CSS {
    background-position: -64px 0; }
  ul.techs li.jQuery {
    background-position: -96px 0; }
  ul.techs li.AngularJs {
    background-position: -128px 0; }
  ul.techs li.WordPress {
    background-position: -160px 0; }
  ul.techs li.Python {
    background-position: -192px 0; }
  ul.techs li.PHP {
    background-position: -224px 0; }
  ul.techs li.LESS-CSS {
    background-position: -256px 0; }
  ul.techs li.filters {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-image: url("../imgs/icons/tech-icons-filters.png"); }
    ul.techs li.filters.HTML {
      background-position: 0 0; }
    ul.techs li.filters.JavaScript {
      background-position: -50px 0; }
    ul.techs li.filters.CSS {
      background-position: -100px 0; }
    ul.techs li.filters.jQuery {
      background-position: -150px 0; }
    ul.techs li.filters.AngularJs {
      background-position: -200px 0; }
    ul.techs li.filters.WordPress {
      background-position: -250px 0; }
    ul.techs li.filters.Python {
      background-position: -300px 0; }
    ul.techs li.filters.PHP {
      background-position: -350px 0; }
    ul.techs li.filters.LESS-CSS {
      background-position: -400px 0; }
  ul.techs li.filters.inactive {
    background-image: url("../imgs/icons/tech-icons-filters-inactive.png"); }

/*============================================================ Centered Menu ============================================================*/
.centeredmenu {
  width: 100%;
  overflow: hidden;
  position: relative; }

.centeredmenu ul {
  clear: left;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  text-align: center; }

.centeredmenu ul li {
  display: block;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  right: 50%; }

.centeredmenu ul li a {
  display: block;
  margin: 0 0 0 1px;
  padding: 3px 10px;
  background: #ddd;
  color: #000;
  text-decoration: none;
  line-height: 1.3em; }

.centeredmenu ul li a:hover {
  background: #369;
  color: #fff; }

.centeredmenu ul li a.active,
.centeredmenu ul li a.active:hover {
  color: #fff;
  background: #000;
  font-weight: bold; }

/*============================================================ Home ============================================================*/
div.home-gallery p {
  display: block;
  margin-bottom: 5px; }
div.home-gallery h2 {
  text-align: center;
  padding-top: 0px; }
div.home-gallery ul.techs li {
  margin: 2px; }
div.home-gallery .site-filters {
  background: #39B54C;
  margin-bottom: 20px;
  padding: 20px; }
  div.home-gallery .site-filters ul li img {
    width: 32px;
    height: 32px; }
div.home-gallery ul.site-gallery {
  list-style: none;
  padding: 0; }
  div.home-gallery ul.site-gallery li {
    overflow: hidden;
    position: relative; }
    div.home-gallery ul.site-gallery li h2 {
      color: white; }
    div.home-gallery ul.site-gallery li.item {
      cursor: pointer; }
      div.home-gallery ul.site-gallery li.item .title {
        height: 70px;
        position: relative;
        background: #39B54C; }
        div.home-gallery ul.site-gallery li.item .title h2 {
          position: absolute;
          bottom: 0;
          width: 100%; }
      div.home-gallery ul.site-gallery li.item img.website-img {
        width: 100%;
        margin-bottom: 10px; }
      div.home-gallery ul.site-gallery li.item.active .active-icon {
        position: absolute;
        bottom: 0;
        width: 100%; }
        div.home-gallery ul.site-gallery li.item.active .active-icon img {
          margin: 0 auto;
          display: block; }
    div.home-gallery ul.site-gallery li.full {
      background: #333;
      width: 100%;
      clear: both;
      margin-bottom: 20px;
      padding-bottom: 20px; }
      div.home-gallery ul.site-gallery li.full div.gallery-img-holder {
        float: left;
        margin: 0; }
      div.home-gallery ul.site-gallery li.full h2 {
        padding: 20px; }
      div.home-gallery ul.site-gallery li.full h4 {
        margin-top: 10px;
        font-weight: bold; }
      div.home-gallery ul.site-gallery li.full .info-holder {
        margin: 0 auto;
        max-width: 900px;
        overflow: hidden; }
        div.home-gallery ul.site-gallery li.full .info-holder img.website-img {
          width: 100%; }
        div.home-gallery ul.site-gallery li.full .info-holder .info {
          color: white; }

/*============================================================ Experience =========================================================*/
div.experience-holder ul {
  list-style: none; }
  div.experience-holder ul li div.crsHeading {
    padding: 10px;
    border: solid 1px #1A733B; }
  div.experience-holder ul li div.crsDesc {
    margin: 0 10px;
    padding: 10px;
    border-left: solid 1px #1A733B;
    border-right: solid 1px #1A733B; }

/*============================================================ Contacts =========================================================*/
div.contact-page {
  margin-top: 30px; }
  div.contact-page form {
    margin-top: 10px; }
    div.contact-page form ul {
      list-style: none; }
      div.contact-page form ul li {
        margin-bottom: 10px;
        overflow: hidden; }
        div.contact-page form ul li label {
          width: 75px;
          text-align: right;
          display: block;
          float: left;
          clear: both;
          padding-right: 10px; }
        div.contact-page form ul li input {
          float: left;
          padding: 3px; }
        div.contact-page form ul li textarea {
          float: left;
          width: 400px;
          height: 200px;
          padding: 3px; }
        div.contact-page form ul li input[type="submit"] {
          clear: both; }

/*============================================================ Resume =========================================================*/
div.resume-page div.resume-content ul {
  list-style: none;
  padding: 0 0 0 20px; }
  div.resume-page div.resume-content ul li {
    padding: 40px 0;
    border-top: solid 1px #1A733B; }
  div.resume-page div.resume-content ul ul {
    list-style: disc;
    margin-top: 5px; }
    div.resume-page div.resume-content ul ul li {
      padding: 0;
      border: none; }

ul.experience li {
  overflow: hidden;
  width: 100%; }

/* Mobile
-----------------------------------*/
@media (max-width: 767px) {
  ul.experience li img {
    display: block;
    margin: 0 auto; }
  ul.experience li .experience-content {
    clear: both; } }
/* Tablet
-----------------------------------*/
@media (min-width: 768px) {
  ul.experience li:nth-child(even) img {
    float: right; }
  ul.experience li:nth-child(even) .experience-content {
    margin-right: 300px; }
  ul.experience li:nth-child(odd) img {
    float: left; }
  ul.experience li:nth-child(odd) .experience-content {
    margin-left: 300px; } }
/*============================================================ Flash =========================================================*/
div.flash-gallery .section {
  padding: 15px 0;
  margin-top: 15px;
  border-top: solid 1px #1A733B; }
div.flash-gallery div.flashHolder {
  padding-top: 5px; }
  div.flash-gallery div.flashHolder object {
    margin: 10px auto;
    display: block;
    max-width: 100%; }
div.flash-gallery ul {
  list-style: none;
  padding: 0;
  overflow: hidden; }
  div.flash-gallery ul li {
    float: left; }
div.flash-gallery ul.flashBannerThumbs {
  background: black;
  /*	
  		margin:5px auto;
  		max-width:400px;
  		background-color:black;
  		
  */ }
  div.flash-gallery ul.flashBannerThumbs li {
    cursor: pointer; }
    div.flash-gallery ul.flashBannerThumbs li img {
      margin: 0 auto;
      display: block; }
div.flash-gallery ul.ensparkCourseThumbs li {
  margin-bottom: 20px; }

/*============================================================ About ============================================================*/
div.about-page h2 {
  text-align: center; }

/*============================================================ Apps =========================================================*/
div.app-gallery .section {
  padding: 15px 0;
  margin-top: 15px;
  border-top: solid 1px #1A733B;
  overflow: hidden; }

/*# sourceMappingURL=main.css.map */
