/* Variables - Colors
----------------------*/
$primaryColor:    #39B54C;
$secondaryColor:  #1A733B;
$maxScreenWidth:  1024px;
$brandedFont:     'Arial', serif;

$sidebarWidth : 75px;

$maxContentWidth : 1024px;


/* Mixin
----------------------*/
@mixin border-radius-all($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin border-radius($r1, $r2, $r3, $r4) {
  -webkit-border-radius: $r1 $r2 $r3 $r4;
     -moz-border-radius: $r1 $r2 $r3 $r4;
      -ms-border-radius: $r1 $r2 $r3 $r4;
          border-radius: $r1 $r2 $r3 $r4;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

@mixin no-select(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/* Media Queries
----------------------*/
/* Large devices (large desktops, 1200px and up) */
/* Medium devices (desktops, 992px and up) */
/* Small devices (tablets, 768px and up) */




$lg: "(min-width: 1201px)";
$md: "(min-width: 993px)";
$sm: "(min-width: 769px)";
$xs: "(max-width: 768px)";

$md-down: "(max-width: 1200px)";
$sm-down: "(max-width: 992px)";





