/*============================================================ Portfolio Page ============================================================*/
div.portfolio-page{
	p{
		display:block;
		margin-bottom:5px;
	}
	h2{
		text-align: center;
		padding-top:0px;
	}
	ul.techs {
		li {
			margin: 2px;
		}
	}
	.site-filters {
		background: $primaryColor;
		margin-bottom: 20px;
		padding: 20px;
		.centered-list {	
			ul li {
				img {
					width: 32px;
					height: 32px;
				}
			}
		}
	}
	ul.site-gallery {
		list-style:none;
		padding:0 15px;
		li{
			overflow: hidden;
			position: relative;
			h2 {
				color: white;
			}
			&.item {
				padding: 0 5px 10px 5px;
				cursor: pointer;
				position: relative;
				img.website-img {
					width: 100%;
					margin: 0 auto;
				}
				.overlay {
					position: absolute;
					width: 100%;
					height: 100%;
					-webkit-transition: .5s background; /* Chrome */
					transition: .5s background;
					display: none;
					.overlay-inner {
						position: relative;				
						width: 100%;
						height: 100%;
						p {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 100px;
							height: 40px;
							line-height: 40px;
							margin: -20px 0 0 -50px;
							color: white;
							font-weight: bold;
							text-align: center;
							text-transform: uppercase;
						}
					}
				}
				&:hover {
					.overlay {
						background: rgba(0,0,0,.5);
						display: block;
					}
				}
				&.active {
					.active-icon {
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						img {
							margin: 0 auto;
							display: block;
						}
					}
				}
			}
			&.full {
				background: #222;
				width: 100%;
				clear: both;
				padding: 20px 0;
				margin-bottom: 20px;
				div.gallery-img-holder {
					float: left;
					margin: 0;
				}				
				h2 {
					padding: 20px;
				}
				h4 {
					text-align: center;
					margin: 10px 0;
					font-weight: bold;
				}
				.info-holder {
					margin: 0 auto;
					max-width: 900px;
					overflow: hidden;
					img.website-img {
						width: 100%;
						max-width: 400px;
						display: block;
						-webkit-box-shadow: 0 0 10px 0 #222222;
						box-shadow: 0 0 10px 0 #222222;
						@media #{$sm} {
							margin: 20px auto;
						}
					}
					.info {
						color: white;
					}
				}
				.client-branding {
					@media #{$md} {
						position: absolute;
						top: 15px;
						left: 0;
						right: 0;
						z-index: 1;
						width: 100%;
					    margin: 0 auto;
					    max-width: 900px;
					}
					.client-branding-inner {
						@media #{$md} {
							position: relative;
							float: right;
							height: 150px;
						}
						.client-branding-title-holder {
							@media #{$md} {
								height: 75px;
								position: relative;
							    margin-left: 75px;
							}
							h2 {
								display: block;
								padding: 0;
								font-weight: bold;
								@media #{$md} {
									position: absolute;
									bottom: 0;
									left: 85px;
									right: 85px;
									text-align: center;
								}
							}
						}
						img {
							display: block;
							border: solid 5px #4f4f4f;
							border-radius: 100px;
							width: 150px;
							@media #{$sm} {
								margin: 15px auto 0 auto;
							}
							@media #{$md} {
								position: absolute;
								top: 0;
								left: 20px;
							}
						}
					}
				}
				.client-info {
					position: relative;
					overflow: hidden;
					.p-holder {
						border: solid 5px #4f4f4f;
						min-height: 120px;
						background: white;
						@media #{$md} {
							margin-top: 75px;
							margin-left: 75px;
						}
						p {
							color: black;
							padding: 15px 15px 15px 70px;
							font-size: 16px;
							color: #4f4f4f;
							text-indent: 20px;
						}
					}
				}
				.project-info {
					background: #4f4f4f;
					padding: 15px 0;
					@media #{$md} {
						margin-left: 75px;
					}
					a.btn {
					  width: 150px;
					}
				}
			}
		}
	}
}