/* Tablet */

.phoneOnly{display:none;}
.desktopOnly{display:none;}

.tabletVisible{display:block;}

#header{
	padding:20px;
}

div.branding{
	img{
		display:block;
		margin:0 auto;
	}
}

nav{
	ul{
		
		li{
			width:20%;
			text-align:center;
			margin: 5px 2.5%  0 2.5%;
			padding:3px 0;
		}
	}
}

div.banner-holder{
	div.banner{
		div.bannerText{
			width:250px;
		}
	}
}

.portfolio-menu{
	width:320px;
	
	button{
		width:84px;
		margin: 0 5px;
	}
}

.content-holder{
	.content{
		padding:30px;
	}
}


/*===== Home Page =====*/
div.home-gallery{
	div.gallery-content{
		margin-left:225px;
	}
	
	div.gallery-img-holder{
		float:left;
	}
}

/*===== Flash Page =====*/
div.flash-gallery{
	ul.ensparkCourseThumbs{
		li{
			width:30%;
			padding:10px 1+(1/300)*100%;
		}
		li:nth-child(3n+4){
			clear:both;
		}
	}
}

/*===== Contact Page =====*/
div.contact-page{
	img{
		float:left;
		margin-right:10px;
	}
}

/*===== About Page =====*/
div.about-page{
	img{
		float:left;
		margin-right:10px;
	}
	
	.aboutSections{
		.textContent{
			margin-left:260px;
		}
		.caption{
			float:left;
			clear:left;
			width:250px;
		}
	}
}

/*===== Resume Page =====*/
div.resume-page{
	ul{
		h2{
			float:left;
		}
		p.date{
			float:right;
		}
		p.location{
			float:left;
		}
		p.date,
		p.location{
			margin-top: 16px;
		}
	}
}

/*===== Apps Page =====*/
div.app-gallery{
	.section{
		img{
			float:left;
		}
	}
	.allamsod{
		img{
			width:20%;
			height:auto;
		}
		.text-content{
			margin-left:25%;
		}
	}
	.puttingTour{
		img{
			width:45%;
			height:auto;
		}
		.text-content{
			margin-left:50%;
		}
	}
}
