/*============================================================ Resume =========================================================*/

div.resume-page {
	padding: 0 15px;			
	.resume-header {
		padding: 20px 0; 
		img {
			display: block;
			margin: 0 auto;
		}
		a {
			text-decoration: none;
		}
	}
	div.resume-content {
		h2 {
			text-align: left;
		} 
		img {
			border-radius: 50%;
			border: $border-grey;
		}
		ul {
			list-style: none;
			padding: 0;
			li{
				.date {
					float: right;
				}
				padding: 40px 0;
				border-top: solid 5px #444;

				@media #{$xs} {
					img {
						display: block;
						margin: 0 auto;
					}
				}
				@media #{$sm} {
					&:nth-child(even) {
						img {
							float: right;
						}
						.experience-content {
							margin-right: 300px;
						}
					}
					&:nth-child(odd) {
						img {
							float: left;
						}
						.experience-content {
							margin-left: 300px;
						}
					}
				}

			}
			
			ul {
				list-style: disc;
				margin: 5px 20px;	
				li {
					padding: 0;
					border: none;
				}
			}
		}
	}
}