/*============================================================ Apps =========================================================*/
div.app-gallery{
	.section{
		padding: 15px 0;
		margin-top: 15px;
		border-top: $border-grey;
		overflow: hidden;
		img {
			margin: 0 auto;
			display: block;
		}
	}
}
