div.flash-gallery{

	.section{
		padding: 15px 0;
		margin-top: 15px;
		border-top: $border-grey;

		p {
			text-align: center;
			margin: 10px 0;
		}
	}
	
	div.flashHolder{
		padding-top:5px;
		object{
			margin: 10px auto;
			display: block;
			max-width:100%;
		}
	}

	ul{
		list-style:none;
		padding:0;
		overflow:hidden;
		
		li{
			float:left;
		}
		&.flashBannerThumbs{
			background: black;
			li{
				cursor:pointer;
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
}
